{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product_detail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_detail.id }}</td>
            </tr>
            <tr>
                <th>Productid</th>
                <td>{{ product_detail.productID }}</td>
            </tr>
            <tr>
                <th>Productname</th>
                <td>{{ product_detail.productName }}</td>
            </tr>
            <tr>
                <th>Producttype</th>
                <td>{{ product_detail.productType }}</td>
            </tr>
            <tr>
                <th>Suppliersid</th>
                <td>{{ product_detail.suppliersID }}</td>
            </tr>
            <tr>
                <th>Productdescription</th>
                <td>{{ product_detail.productDescription }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_details_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_details_edit', { 'id': product_detail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
